*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
@media(min-width:320px){
	.card{
		width:100%;
	}
	section{
		background-color:#ffff ;
	}
	h1{
	font-size:23px !important;
	}
}
@media(min-width:620px){
	section{
	background-color:#154360 ;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	
}
}
@media(min-width:1000px){
    section{
	background-color:#154360 ;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	
}
.cont{
	padding-left:70px;
}
h1{
	font-size:35px !important;
}
	
}

.card{
	border-radius:10px !important;
}
h1{
	text-align:center;
	color:#010101 ;
	font-weight:800;
	
}
span{
	color:#010101;
	font-size:15px;
	font-weight:600;
}

.btn>button{
	color:#5DADE2 !important;
	background-color:#ffff ;
}
.btn>button:hover{
	color:#ffff !important;
	background-color:#5DADE2 ;
	
}
.cont>ol>li{
	font-family: 'Roboto', sans-serif;
}


